@font-face {
	font-family: 'icomoon';
	src:url('../fonts/icomoon.eot?kjw0cp');
	src:url('../fonts/icomoon.eot?#iefixkjw0cp') format('embedded-opentype'),
		url('../fonts/icomoon.woff?kjw0cp') format('woff'),
		url('../fonts/icomoon.ttf?kjw0cp') format('truetype'),
		url('../fonts/icomoon.svg?kjw0cp#icomoon') format('svg');
	font-weight: normal;
	font-style: normal;
}

[class^="icon_"], [class*=" icon_"] {
	font-family: 'icomoon';
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;

	/* Better Font Rendering =========== */
	-webkit-font-smoothing: antialiased;
	-moz-osx-font-smoothing: grayscale;
}

.icon_logo:before {
	content: "\e604";
}

.icon_logo_long:before {
	content: "\e603";
}

.icon_postcode:before {
	content: "\e600";
}

.icon_loading:before {
	content: "\e97b";
}

.icon_mobile:before {
	content: "\e601";
}

.icon_address:before {
	content: "\e602";
}

.icon_phone:before {
	content: "\f095";
}

.icon_caret_down:before {
	content: "\f0d7";
}

.icon_caret_up:before {
	content: "\f0d8";
}

.icon_caret_left:before {
	content: "\f0d9";
}

.icon_caret_right:before {
	content: "\f0da";
}

.icon_email:before {
	content: "\f0e0";
}

.icon_angle_left:before {
	content: "\f104";
}

.icon_angle_right:before {
	content: "\f105";
}

.icon_angle_up:before {
	content: "\f106";
}

.icon_angle_down:before {
	content: "\f107";
}

