@charset "utf-8";


/* index banner */
.banner{
	min-width: 1200px;
	height: 600px;
	margin: 0 auto;
	overflow: hidden;
	position: relative;
}
.banner .wrap{
	width: 100%;
	position: relative;
	overflow:hidden;
}
.banner .ul{
	width: 100%;
	height: 600px;
	position: relative;
}
.banner .ul .list{
	height: 600px;
	width: 100%;
	float: left;
	position: relative;
	overflow: hidden;
}
.banner .ul .list .img_warp{
	left:50%;
	position: absolute;
}
.banner .ul .list .img_warp .img{
	display: block;
	left: -50%;
	position: relative;
}

.banner .ul .list .content{
	position: absolute;
	left: 0;
	right: 0;
	margin: auto;
}
.banner .ul .list .content .sub_title{
	font-size: 2.4em;
	line-height: 1em;
	color: #1a466c;
	position: absolute;
	top: 120px;
}
.banner .ul .list .content .title{
	position: absolute;
	top: 180px;
	font-size: 3.4em;
	line-height: 1em;
	color: #0065b3;
}
.banner .ul .list .content .title .big{
	font-size: 1.6em;
	margin: 0 20px;
}

.banner .ul .list .content .lump{
	display: inline-block;
	background: rgba(0,0,0,.6);
}

.banner .ul .list .content .lump_ul{
	display: inline-block;
}
.banner .ul .list .content .lump_ul .lump_link{
	background: url(../images/icon_hospital.png) no-repeat center center;
	padding: 20px 20px 20px 30px;
	display: block;
	color: #fff;
	font-size: 1.4em;
	line-height: 1em;
}
.banner .ul .list .content .lump{
	
}



.banner .ul .list .content .more{
	position: absolute;
	left: 500px;
	top: 280px;
}

.banner .btn_nav{
	position: absolute;
	top: 0;
	bottom: 0;
	top: 50%;
	margin: auto;
	width: 100%;
}
.banner .btn_nav .btn{
	position: absolute;
	top: -20px;
}
.banner .btn_nav .btn_l{
	left: 10%;
}
.banner .btn_nav .btn_r{
	right: 10%;
}


/* index 咨询 */
.consult{
	border: 2px solid #dee2e6;
}
.consult .wrap{
	border: 2px solid #dee2e6;
}
.consult .wrap_1x1h{
	/*width: */
}


/* banner sub */
.banner_sub{ overflow: hidden; position: relative; height: 220px; }
.banner_sub .wrap{ position: absolute; left: 50%; }
.banner_sub .wrap .img{ display: block; margin-left: -50%; }





/* 团队 */
.team{
	margin: 60px auto;
	/*padding: 60px auto;*/
}
.team .sub_content{
	overflow: hidden;
	padding: 40px 0;
}
.team .sub_content .list{
	width: 22.807017%;
	margin-left: 2.8947368%;
	margin-bottom:40px; 
	float: left;
}
.team .sub_content .list:nth-child(4n+1){
	margin-left:0%;
}
.team .sub_content .list .wire{
	position: relative;
	border: 2px solid #dee2e6;
}

.team .sub_content .list .img_wrap{
	overflow: hidden;
	width: 302px;
	height: 186px;
}
/*.team .sub_content .list .img_wrap{
	overflow: hidden;
}*/
.team .sub_content .list .img_wrap .img{
	width: 100%;
}

.team .sub_content .list .name{
	font-size: 1.8em;
	line-height: 2em;
	text-align: center;
	padding: 10px 0;
}
.team .sub_content .list .name .txt{

}
.team .sub_content .list .speciality{
	overflow: hidden;
	padding: 10px;
	color: #616169;
	background:#dee2e6 url(../images/bg_team_title.png) repeat 0 0;
}
.team .sub_content .list .speciality .txt{
	font-size: 1.8em;
	line-height: 2em;
	float: left;
}
.team .sub_content .list .speciality .mod_btn{
	float: right;
}

.team .sub_content .list:hover .img_wrap .img{
	-webkit-transform:scale(1.04);
	-moz-transform:scale(1.04);
	-ms-transform:scale(1.04);
	-o-transform:scale(1.04);
	transform:scale(1.04);
}

/* team_detail */
.team_detail{ margin-top:80px; margin-bottom:80px; }
.team_detail .sub_content{ margin: 80px auto; }
.team_detail .sub_content .wrap{ padding: 0 400px 0 0; overflow: hidden; position: relative; height: 566px; border-bottom: 2px solid #dee2e6; border-top: 2px solid #dee2e6; }
.team_detail .title{ font-size: 3em; line-height:2em; padding: 10px 0; color: #0065b3; border-bottom: 2px solid #616169; }
.team_detail .info{ padding: 20px 0; }
.team_detail .info p{ text-indent: 2em; font-size: 1.4em; line-height: 2em; margin:10px auto; }
.team_detail .img_wrap{ position: absolute; top: 0; right: 0; width: 350px; height: 566px; }
.team_detail .img_wrap .img{ display: block; width: 350px; height: 566px; }

/* 伤口护理 */
.nurse{
	margin: 60px auto;
}



/* 成功案例 */
.case{
	margin: 60px auto;
}
.case .sub_content{
	padding: 0 0 40px 0;
}


/* 联系我们 */
.contact{
	margin: 60px auto;
}
.contact .sub_content{
	margin: 60px auto;
}
.contact .contact_info{
	overflow: hidden;
	margin: 60px auto;
}

.contact .contact_info .list{
	width: 50%;
	float: left;
	overflow: hidden;
	margin: 0 0 60px 0;
}
.contact .contact_info .wrap{
	margin: 0 0 0 90px;
	padding: 0 20px 0 10px;
	position: relative;
	height:80px; 
}
.contact .contact_info .wrap .icon{
	width: 50px;
	height: 50px;
	line-height: 50px;
	color: #0065b3;
	font-size: 5em;
	text-align: center;
	position: absolute;
	left: -60px;
	top: 0px;
}
.contact .contact_info .wrap .title{
	font-size: 2.4em;
	line-height: 1em;
	color: #0065b3;
	margin: 0 0 6px 0;
}
.contact .contact_info .wrap .txt{
	font-size: 1.8em;
	line-height: 1.2em;
}

.contact .contact_info .list:hover{

}
.contact .contact_info .list:hover .icon{
	color: #1a466c;
	-webkit-transform:translate(4px,0);
	-moz-transform:translate(4px,0);
	-ms-transform:translate(4px,0);
	-o-transform:translate(4px,0);
	transform:translate(4px,0);
}



.contact .map{
	height: 460px;
	width: 100%;
}


/* css3 动画 */
.flink .wrap .ul .list .link .img,
.flink .wrap .btn_nav .btn_l,
.flink .wrap .btn_nav .btn_r,
.flink .wrap .btn_nav .mod_btn_circle,
.flink .wrap .btn_nav .mod_btn_circle .icon,
.team .sub_content .list .img_wrap .img,
.contact .contact_info .list .icon{
	-webkit-transition:all .4s ease-out;
	-moz-transition:all .4s ease-out;
	-ms-transition:all .4s ease-out;
	-o-transition:all .4s ease-out;
	transition:all .4s ease-out;
}




/*

	全局
	
	  	  主色 0065b3
	 	  辅色 
    	背景色 fff
    	点睛色 

    	  浅灰 dee2e6
    	  灰色 616169


    	暗深蓝 1a466c
    	深蓝色
    	  蓝色 0065b3

	  字体颜色 

	主标题颜色 fff
	副标题颜色 
	  正文颜色 616169
	
	  过渡颜色

	主标题大小 30 px
	副标题大小 24 px
	  正文大小 14 px

	主标题行高 
	副标题行高 
	  正文行高 

		  边距
		内填充

*/